.box {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px;
}

.inline-block-test {
	display: inline-block;
	width: 100px;
}

.box-offset-container {
	position: relative;
	height: 100px;
	margin-top: 5px;
}

.box-offset-test {
	background: #ffc;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

.max-height-test {
	max-height: 20px;
	overflow: hidden;
	width: 100px;
}

.min-height-test {
	min-height: 100px;
	width: 100px;
}

